@import './variables.css';

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-header: hsl(var(--card-header));
  --color-chat-bubble-primary: hsl(var(--chat-bubble-primary));
  --color-chat-bubble-secondary: hsl(var(--chat-bubble-secondary));
  --color-chat-time: hsl(var(--chat-time));
  --color-chat-online: hsl(var(--chat-online));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-input-foreground: hsl(var(--input-foreground));
  --color-ring: hsl(var(--ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
